.textarea {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  line-height: 2.4rem;
  font-size: 1.6rem;
  font-weight: 200;
  text-shadow: 0.01rem 0.01rem #0000004f;
  color: #383838;

  hanging-punctuation: first force-end last;
  font-feature-settings: 'onum', 'tnum', 'zero';
  font-variant-numeric: tabular-nums slashed-zero oldstyle-nums;
  text-rendering: geometricPrecision;
  hyphens: auto;
  text-align: justify;
}
