@import '../../scss/variables';
@import '../../scss/visually-hidden';

// .note-text
.note-text {
  position: relative;

  &__label {
    @include visually-hidden;
  }
  &__textarea {
    width: 80%;
    height: 10em;
    display: block;
    margin: $line-height auto;
    padding: $line-height;
    padding-right: 0;
    line-height: $line-height;

    border: none;
    box-shadow: 0 0 1em $border-color;
    border-radius: 0.25em;

    &:focus {
      outline: thin solid $border-color;
    }

    font-size: 1.6rem;
    font-weight: 200;
    text-shadow: 0.01rem 0.01rem #0000004f;
    color: #383838;

    hanging-punctuation: first force-end last;
    font-feature-settings: 'onum', 'tnum', 'zero';
    font-variant-numeric: tabular-nums slashed-zero oldstyle-nums;
    text-rendering: geometricPrecision;
    hyphens: auto;
    text-align: justify;
  }

  &__date {
    position: absolute;
    top: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    color: darken($border-color, 10%);
    user-select: none;
  }
}
