@import '../../scss/variables';
@import '../../scss/visually-hidden';

// .note-text
.note-text {
  position: relative;

  &__label {
    @include visually-hidden;
  }
  &__textarea {
    width: calc(100% - env(safe-area-inset-left) - env(safe-area-inset-right));
    margin: env(safe-area-inset-top) env(safe-area-inset-right)
      env(safe-area-inset-bottom) env(safe-area-inset-left) !important;
    padding: $line-height $textarea-left-padding_end + 1rem;
    padding-right: 0;
    line-height: $line-height;

    background-image: linear-gradient(
        90deg,
        transparent $textarea-left-padding_start,
        #abced4 $textarea-left-padding_start,
        #abced4 $textarea-left-padding_end,
        transparent $textarea-left-padding_end
      ),
      linear-gradient($border-color 0.1rem, transparent 0.1rem);
    background-size: 100% $line-height;

    border: none;
    border-left: thin solid $border-color;
    border-right: thin solid $border-color;

    &:focus {
      outline: thin solid darken($border-color, 10%);
    }

    font-size: 1.6rem;
    font-weight: 200;
    text-shadow: 0.01rem 0.01rem #0000004f;
    color: #383838;

    hanging-punctuation: first force-end last;
    font-feature-settings: 'onum', 'tnum', 'zero';
    font-variant-numeric: tabular-nums slashed-zero oldstyle-nums;
    text-rendering: geometricPrecision;
    hyphens: auto;
    text-align: justify;
  }

  &__date {
    position: absolute;
    top: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    color: $border-color;
    user-select: none;
  }
}
