@import './scss/visually-hidden';

// variables
$font-family-sans-serif:
    // Cross-platform generic font family (default user interface font)
  system-ui,
  // Safari for macOS and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for macOS (San Francisco)
  BlinkMacSystemFont,
  // Windows
  'Segoe UI',
  // Android
  Roboto,
  // Basic web fallback
  'Helvetica Neue',
  Arial,
  // Linux
  'Noto Sans',
  'Liberation Sans',
  // Sans serif fallback
  sans-serif,
  // Emoji fonts
  'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;
$line-height: 2rem;
$textarea-left-padding_start: 4.938rem;
$textarea-left-padding_end: 5.063rem;
$border-color: #cacacade;

// global styles
* {
  box-sizing: border-box;
}
html,
body {
  font-family: $font-family-sans-serif;
  height: 100%;
  background-color: #fff;
  background-image: linear-gradient(
      90deg,
      transparent $textarea-left-padding_start,
      #abced4 $textarea-left-padding_start,
      #abced4 $textarea-left-padding_end,
      transparent $textarea-left-padding_end
    ),
    linear-gradient(#eee 0.1rem, transparent 0.1rem);
  background-size: 100% $line-height;
}

.h-100 {
  height: 100%;
}

// .note-text
.note-text {
  position: relative;

  &__label {
    @include visually-hidden;
  }
  &__textarea {
    width: 100%;
    margin: 0;
    padding: $line-height $textarea-left-padding_end + 1rem;
    line-height: $line-height;

    background-color: transparent;
    border: none;
    border-top: thin solid $border-color;
    border-bottom: thin solid $border-color;
    &:focus {
      outline: none;
    }

    font-size: 1.6rem;
    font-weight: 200;
    text-shadow: 0.01rem 0.01rem #0000004f;
    color: #383838;

    hanging-punctuation: first force-end last;
    font-feature-settings: 'onum', 'tnum', 'zero';
    font-variant-numeric: tabular-nums slashed-zero oldstyle-nums;
    text-rendering: geometricPrecision;
    hyphens: auto;
    text-align: justify;
  }

  &__date {
    position: absolute;
    top: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    color: $border-color;
  }
}
